body {
  padding: 0;
  margin: 0;
}
body, #entry {
  background: #22252a;
  color: #eee;
}
body {
  font-size: 14pt;
  line-height: 150%;
}
tr,td,table {
  padding: 0;
  margin: 0;
  outline-width: 0;
  border-width: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0
}


a { text-decoration: none; color: #888; }
a:hover { text-decoration: underline; color: #aaa; }

#connect fieldset  {
  border: 0;
}

#app > div {
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0px;
	top: 0px;
	padding: 1em;
	background: #22252a;
}

#connect {
	z-index: 42;
}

#loading {
	z-index: 41;
}

#record {
	z-index: 40;
}
